body{
    margin: 0 8% 0 8%;
}
h1{
    font-family: Lust;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 80px 0 80px 0;
}
h4{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0 0 8px 0;
}
p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
.udstillingInfo{
    display: flex;
    align-items: center;
    gap: 16px;
}
.locationIcon{
    color: #C48222;
}
.udstillingDate{
    font-weight: 600;
}
.udstillingImg{
    width: 475px;
    height: auto;
}
.udstillingContainer{
    display: flex;
    gap: 40px;
    margin-bottom: 56px;
}
.udstillingContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;

}
.udstillingLocation{
    margin-bottom: 8px;
    margin-top: 16px;
}



/* ------knap------- */
.mainBtn{
    border-radius: 60px;
    background: #F9CB80;
    padding: 12px 26px;
    border: 2px solid #F9CB80;
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: .3s;
    width: fit-content;
    margin: 0;
}
.mainBtn:hover{
    background-color: white;
    border-radius: 60px;
    border: 2px solid #F9CB80;
}

.udstilling-divider-wrapper{
    display: flex;
    align-items: center;
    gap: 4rem; 
    margin: 80px 0px 40px 0px;
    justify-content: space-between;
  
  
    h2{
      font-size: 24px;
      white-space: nowrap;
      color: #C48222;
    }
  }
  
  .udstilling__divider {
    width: 100%;
    height: 1px;
    background-color: #C48222;
  }

  .kommende-divider-wrapper{
    display: flex;
    align-items: center;
    gap: 4rem; 
    margin: 80px 0px 40px 0px;
    justify-content: space-between;
  
  
    h2{
      font-size: 24px;
      white-space: nowrap;
      color: #3D62A9;
    }
  }
  
  .kommende__divider {
    width: 100%;
    height: 1px;
    background-color: #3D62A9;
  }

/* -----Responsiv----- */
@media  screen and (max-width: 1120px) {
    .udstillingContent{
        gap: 8px;
    }
    .udstillingLocation{
        margin-top: 8px;
    }
    .udstillingInfo{
        align-items: flex-start;
    }
}
@media screen and (max-width: 900px){
    .udstillingContainer{
        display: block;
    }
    .udstillingImg{
        width: 100%;
    }
    .udstillingLocation{
        margin-top: 16px;
    }
    h4{
        font-size: 20px;
        margin-top: 16px;
    }
    .mainBtn{
        margin-top: 16px;
    } 
}
@media screen and (max-width: 420px){
    h1{
        font-size: 32px;
    }
}